:root {
  --time-display-height: 252px;
}

body {
  font-family: 'Times New Roman';
}

.nav {
  background-color: lightblue;
  font-size: 32px;
  color: white;
}

.help-modal-question-mark:hover {
  cursor: pointer;
}


#help-modal{
  width: 80%;
  max-width: 80%;
  white-space: pre-line;
}


.time-input {
  width: 90px;
}

.time-input-invalid {
  background-color: pink;
}

.time-input > option {
  background-color: white;
}

.enumerator-master-container {
  padding-bottom: 20px;
  margin-bottom: var(--time-display-height);
}

.enumerator-container {
  padding: 15px;
}

.time-block-to-div {
  max-width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

.enumerator-container:nth-child(odd) {
  background-color: #e2e2e2; 
}

button {
  background-color: white;
}

button:hover {
  font-weight: bold;
}

.enumerator-container:nth-child(even) {
  background-color: lightblue;
}

.enumerator-container:nth-child(even) > .row > .enumerator-availability-col > .row > .rendered-time-block > .warning > .warning-span {
  background-color:#e2e2e2;
}

.warning-span {
  margin: 5px;
  padding: 2px;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}

.enumerator-row {
  margin-left: 0;
  margin-right: 0;
}

.enumerator-name {
  padding-left: 5px;
  padding-right: 5px;
}

.enumerator-name-row {
  align-items: center;
  line-height: 30px;
  font-size: 18px;
}

.rendered-time-block {
  align-items: center;
  margin-left:5px;
  margin-right:5px;
}

.adjust-priority {
  height: inherit;
  display: inline-block;
  font-size: 10px;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
}

.adjust-priority:hover {
  cursor: pointer;
}

.delete-enumerator-icon {
  font-size: 30px;
  float: right;
}

.delete-enumerator-icon:hover {
  cursor: pointer;
  color: red;  
  font-weight: bold;
}

.optimizer {
  text-align: center;
}

.optimizer-header {
  text-align: center;
}

.priority-block:hover {
  cursor: pointer;
}

.priority-circle {
  margin: auto;
  position: relative;
  top: 25%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  background-color: lightsalmon;
  color: black;
  font-weight: bold;
}

#time-display {
  background-color: white;
  position: fixed;
  bottom: 0;
  height: var(--time-display-height)
}

#time-display > div > .row {
  padding-left: 15px;
  padding-right: 15px;
}

.hover-display-area {
  height: 45px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  width: 100%;
}